#middlebox {
    display: grid;
    height: 888px;
    background: url('../img/middlebox-bg.png');

    font-family: 'Manrope', sans-serif;
    color: #0f1a51;
}

#middlebox-textbox {
    margin-top: 118px;
    margin-bottom: 46px;
    margin-left: 280px;
    margin-right: 280px;
    height: 177px;
    display: flex;
}

#middlebox-title {
    display: flex;
    width: 640px;

    font-size: 48px;
    font-weight: 700;

    margin-top: 25px;
    margin-right: 70px;
}

#middlebox-subtitle {
    display: flex;
    width: 630px;

    font-size: 18px;
    font-weight: 400;

    align-items: center;
    line-height: 2;
}
