#topbox {
    width: 1860px;
    height: 908px;
    
    background: url('../img/topbg.png');
    
    font-family: 'Manrope', sans-serif;
    color: #0f1a51;
}

#navbar {
    display: inline-flex;
    
    margin-left: 47px;
    margin-top: 59px;
    margin-bottom: 177px;
}

#navbar-links {
    display: inline-flex;
    width: 401px;
    
    margin-left: 157px;
    margin-right: 820px;

    font-size: 18px;
    font-weight: 600;

    align-items: center;
    justify-content: center;
}

#navbar-links a {
    color: #0f1a51;
    text-decoration: none;
    margin: 19px;
}

#topbox-content {
    display:inline-block;
    width: 670px;
    
    margin-left: 280px;
}

#topbox-title {
    font-size: 63px;
    font-weight: 800;

    margin-top: 0px;
    margin-bottom: 0px;
}

#topbox-subtitle {
    font-size: 18px;
    font-weight: 300;
}

#topbox-action {
    display: flex;
    align-items: center;
}

#topbox-action-text {
    height: 63px;
    width: 420px;

    margin-right: 8px;

    border-radius: 50px;
    border: 1px solid silver;
}
